@import url(style.css);
@import url(helper.css);

/* @media screen and (max-width: 768px) {
  .header__right {
    display: none;
  }
  .header__container {
    padding-left: var(--sp_10);
    padding-right: var(--sp_10);
  }
  .section {
    padding-left: var(--sp_10);
    padding-right: var(--sp_10);
  }
  .section__image {
    display: none;
  }
  .section__left {
    text-align: center;
  }

  .section2 {
    padding-left: var(--sp_10);
    padding-right: var(--sp_10);
  }
  .landing__title {
    font-size: 32px;
  }
} */