@import url(style.css);
@import url(helper.css);

@media screen and (max-width: 425px) {
  .header__container {
    padding-left: var(--sp_20);
    padding-right: var(--sp_20);
  }
  .header__right .link.link-mod {
    display: none;
  }
  .section__left {
    width: 100%;
    text-align: center;
  }
  .section__right {
    display: none;
  }
  .section {
    padding: 100px 20px 100px 20px;
    flex-direction: column;
  }
  .section .card:nth-child(1),
  .section .card:nth-child(2) {
    margin-bottom: var(--sp_20);
  }
  .expo__image {
    display: none;
  }
  .card__container {
    flex-direction: column;
  }
  .section.fd_col {
    align-items: center;
  }
  .section .section__article {
    margin-left: 0px;
  }
  .section__comment-image {
    display: none;
  }
  .section__comment {
    width: 100%;
    height: 150px;
    overflow: hidden;
  }
  .landing__title {
    font-size: var(--ft_2);
  }
  .container .section .landing__paragraph {
    display: none;
  }
  .container .section .card__container .landing__paragraph,
  .container .section .section__comment .landing__paragraph {
    display: inline-block;
  }
}
