@import url(style.css);
@import url(helper.css);

@media screen and (max-width: 425px) {
  .card__container .card{
    height: auto;
  }
  .header__container {
    padding-left: var(--sp_20);
    padding-right: var(--sp_20);
  }
  .header__title{
    display: none;
  }
  .header__right .link.link-mod {
    display: none;
  }
  .section__left {
    width: 100%;
    text-align: center;
  }
  .section__right {
    display: none;
  }
  .section {
    padding: 100px 20px 100px 20px;
    flex-direction: column;
  }
  .section .card:nth-child(1),
  .section .card:nth-child(2) {
    margin-bottom: var(--sp_20);
  }
  .expo__image {
    display: none;
  }
  .card__container {
    flex-direction: column;
  }
  .card{
    width: 100%;
  }
  .section .section__article {
    margin-left: 0px;
    text-align: center;
  }
  .landing__paragraph-mod{
    line-height: 1.4;
    text-align: left;
  }
  .section__comment-image {
    display: none;
  }
  .section__comment {
    width: 100%;
    height: auto;
    overflow: hidden;
  }
  .section__comment div .landing__paragraph{
    display: none;
  }
  .landing__title {
    font-size: var(--ft_2);
  }
  .container .section .landing__paragraph {
    display: none;
  }
  .container .section .card__container .landing__paragraph {
    display: inline-block;
  }
  .container .section{
    text-align: center;
  }
  .footer__art{
    flex-direction: column;
  }
  .footer__top-iconsContainer{
    margin-bottom: var(--sp_30);
  }
  .footer__top-linksContainer{
    text-align: center;
    flex-direction: column;
  }
  .footer__art:last-child{
    display: none;
  }
  .hr{
    display: none;
  }
}
