@import url(helper.css);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.landing__title {
  font-size: 48px;
  font-weight: 300;
  display: inline-block;
  line-height: 1;
}
.landing__subtitle {
  font-size: 28px;
  font-weight: 300;
  display: inline-block;
  line-height: 1;
}
.landing__paragraph {
  font-size: 14px;
  font-weight: 300;
  display: inline-block;
}
.landing__link {
  display: inline-block;
  padding: 12px 16px;
  background-color: #7564f0;
  color: #fff;
  text-decoration: none;
  border-radius: 8px;
  font-size: 14px;
}
.landing__link-mod {
  background-color: #fff;
  outline: 1px solid #7564f0;
  color: #1d1d1d;
}

.section {
  max-width: 1200px;
  min-height: 70vh;
  margin: auto;
  display: grid;
  align-items: center;
  grid-template-columns: auto auto;
  grid-template-rows: auto;
}
.section__left {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.section2 {
  border-radius: 8px;
  min-height: 35vh;
  background-color: #4831a2;
  margin: auto;
  display: grid;
  align-items: center;
  justify-content: center;
  text-align: center;
  box-shadow: 0px 0px 10px rgba(29, 29, 29, 0.4);
}
.section2__container {
  max-width: 1200px;
  margin: auto;
}
.section3 {
  max-width: 1200px;
  min-height: 55vh;
  margin: auto;
  display: grid;
  align-items: center;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
}
.landing__icon {
  width: 130px;
}
.subSection {
  text-align: center;
  background-color: #eef0ff;
  border-radius: 8px;
  max-width: 350px;
  padding: var(--sp_30);
  padding-bottom: 45px;
}
.section4 {
  min-height: 45vh;
}
.comment {
  box-shadow: 0px 0px 10px rgb(255, 255, 255, 0.2);
  padding: var(--sp_20);
  border-radius: 8px;
  background-color: #eef0ff;
  max-width: 700px;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: left;
}
.commet_image {
  height: 100%;
}
.section5 {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 60px;
}
.section__article {
  display: flex;
  flex-direction: column;
}
.expo__image {
  box-shadow: 0px 0px 10px rgba(29, 29, 29, 0.4);
  height: 700px;
}
.links {
  display: inline-block;
}
.section6 {
  width: 100%;
}
.section6__container {
  box-shadow: 0px 0px 10px rgba(29, 29, 29, 0.4);
  max-width: 1400px;
  border-radius: 8px;
  margin: auto;
  background-color: #4831a2;
  text-align: center;
  min-height: 55vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.plan__container {
  display: flex;
  align-items: center;
  width: 1200px;
  justify-content: space-between;
}
.plan {
  background-color: var(--ct_2);
  border-radius: 8px;
  padding: var(--sp_20);
  padding-top: var(--sp_30);
  padding-bottom: var(--sp_30);
  max-width: 380px;
  height: 340px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.plan .landing__paragraph {
  text-align: left;
}
.landing__link-mod2 {
  width: 100%;
}
